html{
    background-color: #cccccc;
    
}

header{
    background-color: #ffffff;
    border-bottom: 5px solid #cccccc;
}

nav{
    display: flex;
    width: 960px;
    margin: auto;
    align-self: center;
    padding: 20px 10px 20px 10px;
}

a{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 960px;
    margin: auto;
    /*padding: 10px 15px;*/
    align-self: center;
    background-color: #ffffff;
    border-color: #dddddd;
}

footer{
    clear: both;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0;
}

h1{
    background-color: #4aaaa5;
    padding: 10px 10px 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    line-height: 200%;
    text-align: justify;
    margin-top: 5px;
    padding: 5px 15px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

figure{
    float : left;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    font-weight: bold;
}

hr{
    display: block;
      height: 1px;
      border: 0;
      border-top: 3px solid #ccc;
      margin: 1em 0;
      padding: 0px 50px;
}

.container{
    display: flex;
}

.imagen{
    position: relative;
    text-align: center;
    color: white;
    border-color: black;
    margin-left: 5%;
}

.centered{
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    background-color: #4aaaa5;
    width: 100%;
    height: 35px;
    padding-top: 15px;
    font-weight: bolder;
}

.message{
    height:200px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left{
    float : left;
}
.right{
    float : right;
}